@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyYAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYAZFhjg.woff) format("woff");
}
*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  -webkit-text-decoration: none;
  text-decoration: none;
}
body{
  overflow-x: hidden;
  color: #67677E;
  font-size: 14px;
  font-family: 'Inter',sans-serif;
  line-height: 24px;
}
.header-top{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 40px;
  box-sizing: border-box;
  border-bottom:1px solid #EAEAF1;
}
.header-top a{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #67677E;
    -webkit-text-decoration: none;
    text-decoration: none;
  }
.header-menu ul{
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    gap: 32px;
  }
.header-menu ul li{
      -webkit-text-decoration: none;
      text-decoration: none;
      list-style: none;
      overflow: hidden;
    }
.header-menu ul li a{
        display: block;
        -webkit-text-decoration: none;
        text-decoration: none;
        position: relative;

        transition: .3s all;
      }
.header-menu ul li a:after{
          content: attr(text);
          position: absolute;
          top: 100%;
          left: 0;
        }
.header-menu ul li a:hover{
          transform: translateY(-100%);
          color: #000;
        }
.header-user{
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  align-items: center;
}
.header-user a{
    transition: .3s all;
    position: relative;
    display: block;
  }
.header-user a:after{
      content: attr(text);
      position: absolute;
      top: 100%;
      left: 0;
    }
.header-user a:hover{
      transform: translateY(-100%);
      color: #000;
    }
.header-body{
  padding: 24px 40px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-body .header-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }
.header-body .header-menu .header-menu--btn{
      width: 44px;
      height: 44px;
      background: url("../imgs/icons/sprite.svg#burger")center/cover no-repeat;
      margin-right: 40px;
      cursor: pointer;
    }
.header-body .header-menu .header-menu--list{
      padding: 0;
      margin: 0;
    }
.header-body .header-menu .header-menu--list li{
        overflow: hidden;
      }
.header-body .header-menu .header-menu--list li a{
          font-family: 'Inter',sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          font-variation-settings: 'slnt' 0;
          color: #0D0D0F;
          transition: .3s all;
          position: relative;
        }
.header-body .header-menu .header-menu--list li a:after{
            content: attr(text);
            position: absolute;
            top: 100%;
            left: 0;
          }
.header-body .header-menu .header-menu--list li a:hover{
            transform: translateY(-100%);
          }
.header-logo{
  max-width: 95px;
  width: 100%;
  height: 25px;
}
.header-bar{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-bar .bar-search{
    position: relative;
  }
.header-bar .bar-search input{
      padding: 10px 44px 10px 20px;
      box-sizing: border-box;
      background: #F3F3F7;
      border-radius: 40px;
      font-family: 'Inter',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.01em;
      color: #8F8FA3;
      max-width: 200px;
      width: 100%;
    }
.header-bar .bar-search button{
      width: 44px;
      height: 44px;
      position: absolute;
      right: 0;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      background: url("../imgs/icons/sprite.svg#search-ico") center/contain no-repeat;
    }
.header-bar .bar-icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
  }
.header-bar .bar-icons .bar-icon{
      width: 24px;
      height: 24px;
      display: block;
      -webkit-text-decoration: none;
      text-decoration: none;
    }
.header-bar .bar-icons .bar-comparisons{
      background: url("../imgs/icons/sprite.svg#comparison_ico") center/cover no-repeat;
    }
.header-bar .bar-icons .bar-favorite{
      background: url("../imgs/icons/sprite.svg#favorite_ico") center/cover no-repeat;
    }
.header-bar .bar-icons .bar-cart{
      background: url("../imgs/icons/sprite.svg#cart_ico") center/cover no-repeat;
    }
.section-banner{

}
.banner-list{
  position: relative;
  margin-bottom: 0;
}
.banner-list .slick-dots{
    position: absolute;
    top:100%;
    transform: translateY(calc(-100% - 28px));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;

  }
.banner-list .slick-dots li{
      margin: 0;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s all;
    }
.banner-list .slick-dots li.slick-active button:before{
            font-size: 16px;
          }
.banner-list .slick-dots li button{
       margin: 0 !important;
     }
.banner-list .slick-dots li button{
      width: 16px;
       height: 16px;
       border-radius: 50%;
     }
.banner-list .slick-dots li button:before{
         font-size: 8px;
       }
.banner-list .slick-dots li:hover{
        background: rgba(13, 13, 15, 0.25);

      }
.banner-item{
  height: 600px !important;

}
.banner-item{
  padding: 132px 0;
  background-size: cover;
  background-repeat: no-repeat;

}
.banner-item .item-title{
    margin-bottom: 24px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #0D0D0F;
  }
.banner-item .item-list{
    margin: 0 0 40px 0;
    padding: 0 20px;
  }
.banner-item .item-list li{
      font-family: 'Inter',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 200%;
      letter-spacing: -0.02em;
      color: rgba(13, 13, 15, 0.5);
    }
.banner-item .item-list li::marker{
        color: rgba(13, 13, 15, 0.5);
      }
.banner-item .item-description{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    letter-spacing: -0.02em;
    color: rgba(13, 13, 15, 0.5);
    margin-bottom: 40px;
  }
.banner-item .item-btns{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    gap: 40px;
    overflow: hidden;
  }
.banner-item .item-btns a{
      -webkit-text-decoration: none;
      text-decoration: none;
      display: block;
      font-family: 'Inter',sans-serif;
      font-style: normal;
      font-weight: 450;
      font-size: 16px;
      line-height: 24px;
      color: #0D0D0F;
      font-variation-settings: 'slnt' 0;
      overflow: hidden;

    }
.banner-item .item-btns a span{
        position: relative;
        transition: .3s all;
        display: block;
        text-align: center;
      }
.banner-item .item-btns a span:after{
          content: attr(text);
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          text-align: center;
        }
.banner-item .item-btns a:hover span{
          transform: translateY(-100%);
          top:-100%;
        }
.banner-item .item-btns a.item-link--main{
        font-family: 'Inter',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        background: #3D3DF5;
        padding: 10px 32px;
        border-radius: 52px;
        min-width: 176px;
        text-align: center;
      }
.banner-item .item-btns a.item-link--main span:after{
            color: transparent;
          }
.banner-item .item-btns a.item-link--main:hover span{
          color: transparent;
          }
.banner-item .item-btns a.item-link--main:hover span:after{
              color: #fff;
            }
.item-link--main{
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #3D3DF5;
  padding: 10px 32px;
  border-radius: 52px;
  min-width: 176px;
  text-align: center;
}
.item-link--main span:after{
      color: transparent;
    }
.item-link--main:hover span{
      color: transparent;
    }
.item-link--main:hover span:after{
        color: #fff;
      }
.banner-item--dark .item-title{
    color: #fff;
  }
.banner-item--dark .item-list li{
      color: #fff;
    }
.banner-item--dark .item-description{
    color: #fff;
  }
.banner-item--dark a{
    color: #fff;
  }
.banner-item--dark a span{
      color: #fff;
    }
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: #FFFFFF;
  padding: 32px;
  width: 100%;
  max-width: 33.33333%;
  overflow-y: scroll;
  z-index: 200;
  transform: translateX(-500%);
  transition: .3s all;
}
.sidebar.active{
    display: block;
    transform: translateX(0%);
  }
.sidebar::-webkit-scrollbar{
    width: 0;
  }
.sidebar .sidebar-list{
    display: none;
    flex-direction: column;
    gap: 48px;
  }
.sidebar .sidebar-list.sidebar-list--active{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
.sidebar .slide-bar-item{
    padding-bottom: 48px;
    border-bottom: 1px solid #EFEFF5;
  }
.sidebar .sidebar-top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-bottom: 47px;
    position: relative;
  }
.sidebar .sidebar-top button{
      font-family: 'Inter',sans-serif;
      font-style: normal;
      font-weight: 450;
      font-size: 14px;
      line-height: 24px;
      color: #67677E;
      font-variation-settings: 'slnt' 0;
      padding: 8px 16px;
      border-radius: 4px;
      background: transparent;
      position: relative;
      overflow: hidden;
      z-index: 2;
    }
.sidebar .sidebar-top button:after{
        content: attr(text);
        position: absolute;
        width: 100%;
        background: #3D3DF5;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border-radius: 4px;
        transform: translateX(-200%);
        transition: .3s all;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
      }
.sidebar .sidebar-top button.active{
        color: #FFFFFF;
      }
.sidebar .sidebar-top button.active:after{
          transform: translateX(0%);
          z-index: 1;
        }
.sidebar .sidebar-icon{
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 32px;
  }
.sidebar .sidebar-title{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #0D0D0F;
  }
.sidebar .sidebar-menu{
    padding: 0;
    margin: 0;
  }
.sidebar .sidebar-menu.sidebar-menu--active li{
        display: block;
      }
.sidebar .sidebar-menu li{
      list-style: none;
      display: none;
    }
.sidebar .sidebar-menu li:nth-child(-n+4){
        display: block;
      }
.sidebar .sidebar-menu li a{
        -webkit-text-decoration: none;
        text-decoration: none;
        font-family: 'Inter',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #67677E;
        padding: 8px 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        transition: 0.3s all;
      }
.sidebar .sidebar-menu li a:hover{
          color:#0D0D0F;
        }
.sidebar-brands ul{
    padding: 0;
    margin: 0;
  }
.sidebar-brands ul li{
      list-style: none;
    }
.sidebar-brands ul li a{
        height: 120px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #EFEFF5;

      }
.sidebar-brands ul li a picture img{
            filter: grayscale(100%);
            opacity: 0.5;
            transition: .3s all;
          }
.sidebar-brands ul li a:hover picture img{
              filter: grayscale(0%);
              opacity: 1;
            }
.btn-close{
  width: 44px;
  height: 44px;
  transition: .3s all;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-10px);
  cursor: pointer;
}
.btn-close:hover{
    transform: translateY(-10px) rotate(180deg);
    background-color: #F3F3F7;
  }
.show-more{
  -webkit-text-decoration: none;
  text-decoration: none;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #2D2DD2;
  font-variation-settings: 'slnt' 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.show-more:after{
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    -webkit-mask: url("../imgs/icons/sprite.svg#arrow-menu") center/cover no-repeat;
            mask: url("../imgs/icons/sprite.svg#arrow-menu") center/cover no-repeat;
    background: #2D2DD2;
  }
.show-more.active:after{
      transform: rotate(180deg);
    }
.overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .25;
  z-index: 100;
  height: 100vh;
}
.overlay.active{
    display: block;
  }
.services{
  padding-bottom: 120px;
}
.services .services-item{
    padding-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
.services .services-item .item-icon{
      padding: 17px 16px 16px 17px;
      border-radius: 44px;
      background: #F3F3F7;
      width: 73px;
      height: 73px;
      margin-bottom: 24px;
    }
.services .services-item .item-icon svg{
        width: 100%;
        height: 100%;
      }
.services .services-item .item-title{
      color: #0D0D0F;
      font-size: 18px;
      font-family: 'Inter' , sans-serif;
      font-weight: 500;
      line-height: 140%;
      margin-bottom: 16px;
    }
.grid_menu{
  padding-bottom: 120px;
}
.grid_menu .grid_menu-list .grid_menu-item{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
.grid_menu .grid_menu-list .grid_menu-item .item-info{
        padding: 50px 52px;
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        height: 284px;
      }
.grid_menu .grid_menu-list .grid_menu-item .item-info h2{
          color: #0D0D0F;
          font-family: 'Inter',sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 120%;
          width: -moz-min-content;
          width: -webkit-min-content;
          width: min-content;
        }
.grid_menu .grid_menu-list .grid_menu-item .item-content{
        width: 50%;
        height: 284px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        position: relative;
      }
.grid_menu .grid_menu-list .grid_menu-item .item-content .item_menu{
          padding: 0;
          margin: 0;
          width: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
.grid_menu .grid_menu-list .grid_menu-item .item-content .item_menu li{
            list-style: none;
          }
.grid_menu .grid_menu-list .grid_menu-item .item-content .item_menu li a{
              -webkit-text-decoration: none;
              text-decoration: none;
              color: #67677E;
              font-family: 'Inter',sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;

            }
.grid_menu .grid_menu-list .grid_menu-item .item-content .item_menu .item-link{
            color: #2D2DD2;
            font-family: 'Inter',sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 450;
            line-height: 24px;
            -webkit-text-decoration: none;
            text-decoration: none;
          }
.grid_menu .grid_menu-list .grid_menu-item .item-content picture{
          position: absolute;
          width: 100%;
          height: 284px;
          transition: .3s all;
          right: 0;
        }
.grid_menu .grid_menu-list .grid_menu-item .item-content picture img{
            width: 100%;
            height: 284px;
            -o-object-fit: cover;
               object-fit: cover;
          }
.grid_menu .grid_menu-list .grid_menu-item:hover picture{
          position: absolute;
          width: 50%;
          height: 284px;

          right: 0;
        }
.grid_menu .grid_menu-list .grid_menu-item:hover picture img{
            width: 100%;
            height: 284px;
            -o-object-fit: cover;
               object-fit: cover;
          }
.grid_menu .grid_menu-list .grid_menu-item:nth-child(2n) .item-info{
          order: 1;
        }
.grid_menu .grid_menu-list .grid_menu-item:nth-child(2n) .item-content{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          justify-content: flex-end;
        }
.grid_menu .grid_menu-list .grid_menu-item:nth-child(2n) .item-content .item_menu{
            order: 1;
            padding-left: 52px;
          }
.grid_menu .grid_menu-list .grid_menu-item:nth-child(2n) .item-content picture{
            left: 0;
          }
.section-title{
  color: #0D0D0F;
  font-family: 'Inter' ,sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: 16px;
}
.section-title:before{
    content: '';
    display: block;
    width: 2px;
    height: 44px;
    background: #3D3DF5;
  }
.btn-default-animate{
  border-radius: 52px;
  background: #3D3DF5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  padding: 10px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #FFF;
  font-family: 'Inter',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  outline: none;
  position: relative;
  overflow-y: hidden;
}
.btn-default-animate span{
    position: relative;
    transition: .3s all;
  }
.btn-default-animate span:after{
      content: attr(text);
      position: absolute;
      top: 150%;
      left: 0;
    }
.btn-default-animate:hover span{
      transform: translateY(-150%);
    }
.slider-arrows{
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(calc(-100% - 40px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: 12px;
}
.slider-arrows .slider-btn{
    cursor: pointer;
    width: 44px;
    height: 44px;
    background: url("../imgs/icons/arr.svg") center no-repeat, #F3F3F7;
    border-radius: 50%;
  }
.slider-arrows .slider-btn.slider-btn--prev{
      transform: rotate(180deg);
    }
.catalog-slider{
  position: relative;
  padding-bottom: 120px;
}
.catalog-slider .slider-wrapper{
    position: relative;
  }
.catalog-slider .slider-wrapper .slider-arrows{
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(calc(-100% - 40px));
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      gap: 12px;
    }
.catalog-slider .slider-wrapper .slider-arrows .slider-btn{
        cursor: pointer;
        width: 44px;
        height: 44px;
        background: url("../imgs/icons/arr.svg") center no-repeat, #F3F3F7;
        border-radius: 50%;
      }
.catalog-slider .slider-wrapper .slider-arrows .slider-btn.slider-btn--prev{
          transform: rotate(180deg);
        }
.catalog-slider .slider-wrapper .slider-list .slider-item{
        transition: .3s all;
        max-height: 560px;
        padding: 0 8px;
      }
.catalog-slider .slider-wrapper .slider-list .slider-item:hover{
          transform: scaleY(0.9);
        }
.catalog-slider .slider-wrapper .slider-list .slider-item:hover .slider-img{
            transform: translateY(-40px);
          }
.catalog-slider .slider-wrapper .slider-list .slider-item:hover .slider-info{
            transform: translateY(-40px);
          }
.catalog-slider .slider-wrapper .slider-list .slider-item:hover .slider-info .slider-btns{
            transform: translateY(0);
          }
.catalog-slider .slider-wrapper .slider-list .slider-item .slider-img{
          transition: .3s all;
          padding: 16px;
          box-sizing: border-box;
          background: #F3F3F7;
          height: 273px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          justify-content: center;
          align-items: center;
        }
.catalog-slider .slider-wrapper .slider-list .slider-item .slider-img picture img{
              width: 100%;
              transition: .3s all;
            }
.catalog-slider .slider-wrapper .slider-list .slider-item .slider-info{
          overflow: hidden;
          transition: .3s all;
          padding: 16px;
          box-sizing: border-box;
        }
.catalog-slider .slider-wrapper .slider-list .slider-item .slider-info span{
            color: #67677E;
            font-family: 'Inter',sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            display: block;
            margin-bottom: 8px;
          }
.catalog-slider .slider-wrapper .slider-list .slider-item .slider-info h3{
            overflow: hidden;
            color: #0D0D0F;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-family: 'Inter',sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            display: block;
            margin-bottom: 8px;
          }
.catalog-slider .slider-wrapper .slider-list .slider-item .slider-info .slider-description{
            margin-bottom: 16px;
          }
.catalog-slider .slider-wrapper .slider-list .slider-item .slider-info .slider-description ul{
              margin: 0;
              padding: 0;
            }
.catalog-slider .slider-wrapper .slider-list .slider-item .slider-info .slider-description ul li{
                list-style: none;
                color: #67677E;
                font-family: 'Inter',sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
.catalog-slider .slider-wrapper .slider-list .slider-item .slider-info .slider-price{
            color: #0D0D0F;
            font-family: 'Inter',sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: -0.4px;
            margin-bottom: 16px;
          }
.catalog-slider .slider-wrapper .slider-list .slider-item .slider-info .slider-btns{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            transform: translateY(200%);
            transition: .3s all;
          }
.catalog-slider .slider-wrapper .slider-list .slider-item .slider-info .slider-btns .btn-buy{
              border-radius: 52px;
              background: #3D3DF5;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              height: 48px;
              padding: 10px 32px;
              justify-content: center;
              align-items: center;
              gap: 8px;
              flex: 1 0 0;
              color: #FFF;
              font-family: 'Inter',sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
            }
.favorite-btn{
  -webkit-mask: url("../imgs/icons/sprite.svg#favorite_ico") center/contain no-repeat;
          mask: url("../imgs/icons/sprite.svg#favorite_ico") center/contain no-repeat;
  width: 44px;
  height: 44px;
  background: #ABABBA;
}
.compare-btn{
  -webkit-mask: url("../imgs/icons/sprite.svg#comparison_ico") center/contain no-repeat;
          mask: url("../imgs/icons/sprite.svg#comparison_ico") center/contain no-repeat;
  width: 44px;
  height: 44px;
  background: #ABABBA;

}
.default-animate{
  overflow: hidden;
  display: block;
  -webkit-text-decoration: none;
  text-decoration: none;
}
.default-animate span{
    position: relative;
    transition: .3s all;
    display: block;
  }
.default-animate span:after{
      content: attr(text);
      position: absolute;
      top: 100%;
      left: 0;
    }
.default-animate:hover span{
      transform: translateY(-100%);
    }
.section-link{
  -webkit-text-decoration: none;
  text-decoration: none;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: 16px;
}
.section-link span{
    color: #2D2DD2;
    font-family: 'Inter',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    position: relative;
    transition: .3s all;

  }
.section-link span:after{
      content: attr(text);
      position: absolute;
      top: 100%;
      left: 0;
    }
.section-link:hover span{
     transform: translateY(-100%);
   }
.info-banner{
  padding-bottom: 120px;
}
.info-content{
  padding: 52px 64px 60px 64px;
  box-sizing: border-box;
  position: relative;
}
.info-content .info-text{
    max-width: 41.66667%;
  }
.info-content .info-text .info-title{
      color: #0D0D0F;
      font-family: 'Inter',sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 48px */
      letter-spacing: -0.8px;
      margin-bottom: 16px;
    }
.info-content .info-text .info-description{
      color: rgba(13, 13, 15, 0.75);
      font-family: 'Inter',sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 175% */
      letter-spacing: -0.32px;
    }
.info-content .info-text .info-btns{
      margin-top: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      gap: 40px;
    }
.info-content .info-text .info-btns a{
        color: #0D0D0F;
        font-family: 'Inter',sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
.info-content .info-img{
    position: absolute;
    bottom: 0;
    right: 96px;
  }
.info-content .info-img picture img{
        max-width: 400px;
        width: 100%;
      }
.info-content--yellow{
  background: #FFD12F;
}
.works{
  position: relative;
  padding-bottom: 120px ;
}
.works .slider-arrows{
    transform: translate(calc(-100% - 40px), -0%);
  }
.works .slider-arrows .slider-work--prev{
      transform: rotate(180deg);
    }
.works-slider .item{
    padding: 0 8px;
  }
.works-slider .item picture img{
        width: 100%;
      }
.works-slider .item-text{
    padding: 24px 16px 0 16px;
    box-sizing: border-box;
  }
.works-slider .item-text h3{
      width: -moz-min-content;
      width: -webkit-min-content;
      width: min-content;
    }
.works-slider .item-text h3 a{
        -webkit-text-decoration: none;
        text-decoration: none;
        color: #0D0D0F;
        font-family: 'Inter',sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 25.2px */
        width: -moz-min-content;
        width: -webkit-min-content;
        width: min-content;
      }
.works-slider .item-text h3{
      margin-bottom: 16px;
}
.works-slider .item-text ul{
      padding: 0;
      margin: 0 0 16px 0;
    }
.works-slider .item-text ul li{
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: space-between; /* 171.429% */
      }
.works-slider .item-text ul li span{
          color: #67677E;
          font-family: 'Inter',sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 200% */
        }
.works-slider .item-text ul li{
        color: #0D0D0F;
        font-family: "Inter",sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
}
.works-slider .item-text .item-link{
      -webkit-text-decoration: none;
      text-decoration: none;
      color: #2D2DD2;
      font-family: "Inter",sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
    }
.works-slider .item-text .item-link:after{
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        -webkit-mask: url("../imgs/icons/sprite.svg#arr") center/contain no-repeat;
                mask: url("../imgs/icons/sprite.svg#arr") center/contain no-repeat;
        background: #2D2DD2;
      }
.news{
  position: relative;
  padding-bottom: 120px;
}
.news .slider-arrows{
    transform: translate(calc(-100% - 40px), -0%);
  }
.news .slider-arrows .slider-news--prev{
      transform: rotate(180deg);
    }
.news .item{
    padding: 0 8px;
  }
.news .item picture img{
        width: 100%;
      }
.news .item-text{
    padding: 24px 16px 0 16px;
    box-sizing: border-box;
  }
.news .item-text h3 a{
        -webkit-text-decoration: none;
        text-decoration: none;
        color: #0D0D0F;
        font-family: 'Inter',sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 25.2px */
        width: -moz-min-content;
        width: -webkit-min-content;
        width: min-content;
      }
.news .item-text h3{
      margin-bottom: 16px;
}
.news .item-text .item-description{
      color: #67677E;
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 200% */
    }
.news .item-text .item-link{
      -webkit-text-decoration: none;
      text-decoration: none;
      color: #2D2DD2;
      font-family: "Inter",sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
    }
.news .item-text .item-link:after{
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        -webkit-mask: url("../imgs/icons/sprite.svg#arr") center/contain no-repeat;
                mask: url("../imgs/icons/sprite.svg#arr") center/contain no-repeat;
        background: #2D2DD2;
      }
.brands {
  position: relative;
  padding-bottom: 120px;
}
.brands .slider-arrows {
    transform: translate(calc(-100% - 40px), -0%);
  }
.brands .slider-arrows .slider-brands--prev {
      transform: rotate(180deg);
    }
.brands .brands-list .item a{
        display: block;
        height: 120px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: grayscale(100%);
        opacity: 0.5;
        transition: .3s all;
      }
.brands .brands-list .item a:hover{
          filter: grayscale(0%);
          opacity: 1;
        }
.form-footer{
  background: #F1F1F3;
  padding: 52px 10px 100px 10px;


}
.form-footer .footer-top{
    color: #67677E;
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 350;
    line-height: 24px; /* 171.429% */
    margin-bottom: 40px;
  }
.form-footer .footer-top p{
      color: #67677E;
      font-family: Inter,sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 350;
      line-height: 24px; /* 171.429% */
    }
.form-footer .footer-top h2{
      color: #0D0D0F;
      font-family: Inter,sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px; /* 125% */
      letter-spacing: -0.64px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 16px;
      align-items: center;
      margin-bottom: 16px;
    }
.form-footer .footer-top h2 figure{
        margin: 0;
      }
.form-footer form .form-col input{
        border-radius: 4px;
        background: #FFF;
        padding: 14px 20px;
        color: rgba(13, 13, 15, 0.80);
        font-family: Inter,sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: -0.16px;
        width: 100%;
        margin-bottom: 16px;
      }
.form-footer form .form-col input.no_ip{
          display: none;
        }
.form-footer form .form-col .form-selector{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        gap: 60px;
        margin-top: 40px;
      }
.form-footer form .form-col .form-selector label{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          gap: 10px;
          align-items: center;
        }
.form-footer form .form-col .form-selector label:has(input:checked) span{
              color: #0D0D0F;
            }
.form-footer form .form-col .form-selector label input[type="radio"]{
            width: 20px;
            height: 20px;
            margin: 0;

          }
.form-footer form .form-col .form-selector label span{
            color: #67677E;
            font-family: Inter,sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            transition: .3s all;
          }
.form-footer form .form-col .ip-info{
        margin-top: 16px;
      }
.form-footer form .form-col textarea{
        resize: none;
        padding: 14px 20px;
        border-radius: 4px;
        background: #FFF;
        width: 100%;
        height: 228px;
        margin-bottom: 40px;
      }
.form-footer form .form-col .form-btns{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
      }
.form-footer form .form-col .form-btns .input_file{
          font-size: 0;
          background: none;
          border: none;
          outline: none;
          color: transparent;
          position: relative;
          width: 207px;
          -webkit-appearance: media-slider;
          cursor: pointer;
        }
.form-footer form .form-col .form-btns .input_file:before{
            content: '';
            display: block;
            opacity: 1;
            background: url("../imgs/from-btn-file.png");
            height: 47px;
            width: 207px;
            position: absolute;
            top: 0;
            left: 0;
          }
.form-footer form .form-col .form-btns button{
          -webkit-appearance: media-slider;
        }
.form-footer form .form-col .form-btns .btn-default-animate{
          max-width: 260px;
          width: 100%;
        }
footer{
  padding: 32px 0px;
  background: #E4E4E7;
}
footer .footer-menu{
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
footer .footer-menu li{
      list-style: none;
    }
footer .footer-menu li a{
        -webkit-text-decoration: none;
        text-decoration: none;
        color: #67677E;
        font-family: Inter,sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 153.846% */
      }
footer .col-3:last-child ul li a{
          display: block;
          text-align: right;
        }
.breadcrumbs{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.breadcrumbs .breadcrumbs--list{
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    transform: translateX(-25%);
  }
.breadcrumbs .breadcrumbs--list li{
      list-style: none;
      color: #9D9DAF;
      text-align: center;
      font-family: Inter,sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      gap: 4px;
    }
.breadcrumbs .breadcrumbs--list li:last-child:after{
          display: none;
        }
.breadcrumbs .breadcrumbs--list li:after{
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        -webkit-mask: url("../imgs/icons/sprite.svg#b-arr")center/cover no-repeat;
                mask: url("../imgs/icons/sprite.svg#b-arr")center/cover no-repeat;
        background: #0D0D0F;
      }
.breadcrumbs .breadcrumbs--list li a{
        -webkit-text-decoration: none;
        text-decoration: none;
        color: #0D0D0F;
        font-family: Inter,sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
.title-page{
  color: #0D0D0F;
  font-family: Inter,sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.64px;
  margin-bottom: 32px;
}
.tags{
  margin-bottom: 64px;
}
.tags .tags-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
  }
.tags .tags-list .tag-btn{
      color: #67677E;
      font-family: Inter,sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      -webkit-text-decoration: none;
      text-decoration: none;
      outline: none;
      border: none;
      display: block;
      padding: 8px 16px;
      border-radius: 4px;
      background: #F3F3F7;
      width: -moz-max-content;
      width: -webkit-max-content;
      width: max-content;
      transition: .3s all;
    }
.tags .tags-list .tag-btn:hover{
        background: #EAEAF1;
        color: #0D0D0F;
      }
.catalog-top_filter{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-end;
  margin-bottom: 32px;
}
.catalog-top_filter .top_filter--item{
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #67677E;
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .3s all;
    align-items: center;
  }
.catalog-top_filter .top_filter--item:hover{
      color: #0D0D0F;
    }
.catalog-top_filter .top_filter--item:after{
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      -webkit-mask: url("../imgs/icons/sprite.svg#f-ico") center/cover no-repeat;
              mask: url("../imgs/icons/sprite.svg#f-ico") center/cover no-repeat;
      background: #fff;
    }
.catalog-top_filter .top_filter--item-active{
    background: #3D3DF5;
    color: #fff;
  }
.catalog-top_filter .top_filter--item-active:hover{
      color: #fff;
    }
.filter-list .filter-item .filter-toggle{
      margin-bottom: 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
.filter-list .filter-item .filter-toggle span{
        color:  #1A1A1A;
        font-family: Inter,sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }
.filter-list .filter-item .filter-toggle:after{
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        -webkit-mask: url("../imgs/icons/sprite.svg#arr")center/contain no-repeat;
                mask: url("../imgs/icons/sprite.svg#arr")center/contain no-repeat;
        background: #000;
        transition: .3s all;
        transform: rotate(90deg);
      }
.filter-list .filter-item .filter-toggle.active:after{
        transform: rotate(-90deg);
      }
.filter-list .filter-item .filter-wrapper{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      gap: 16px;
    }
.filter-list .filter-item .filter-wrapper label{
        width: 50%;
        position: relative;
      }
.filter-list .filter-item .filter-wrapper label:after{
          content: attr(text);
          display: block;
          padding: 0 2px;
          background: #fff;
          position: absolute;
          top: 0;
          transform: translate(50%, -50%);
        }
.filter-list .filter-item .filter-wrapper input{
        border-radius: 4px;
        border: 1px solid #C7C7D1;
        background: #FFF;
        color: #67677E;
        font-family: Inter,sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        width: 100%;
        text-align: center;
        padding: 10px;

      }
.catalog-list{
  display: grid;
  grid-gap: 16px;
  gap: 16px;
  grid-template-columns: repeat(3,1fr);
}
.catalog-list .catalog-item{
    cursor: pointer;
  }
.catalog-list .catalog-item .item-img{
      background: #F3F3F7;
      padding: 16px;
    }
.catalog-list .catalog-item .item-img img{
        width: 241px;
        height: 241px;
      }
.catalog-list .catalog-item .item-info{
      padding: 16px;
    }
.catalog-list .catalog-item .item-info .item-category{
        color: #67677E;
        font-family: Inter,sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 8px;
      }
.catalog-list .catalog-item .item-info h2{
        overflow: hidden;
        color: #0D0D0F;
        text-overflow: ellipsis;
        font-family: Inter,sans-serif;
        font-size: 16px;
        font-style: normal;

        font-weight: 400;
        line-height: 24px;
        margin-bottom: 8px;
      }
.catalog-list .catalog-item .item-info ul{
        padding: 0;
        margin: 0;
      }
.catalog-list .catalog-item .item-info ul li{
          list-style: none;
          color: #67677E;
          font-family: Inter,sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          justify-content: space-between;
        }
.catalog-list .catalog-item .item-info .item-price{
        color: #0D0D0F;
        font-family: Inter,sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.4px;
        margin-top: 16px;
      }